<section class="section">
  <div class="container">
    <h1 class="title">
      Luupzig
      <button class="button" (click)="toggleDark()">
        @if (darkMode$ | async) {
          <span class="icon">
            🌜
          </span>
          <span>Dark</span>
        }
        @else {
          <span class="icon">
            ☀️
          </span>
          <span>Light</span>
        }
      </button>
    </h1>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Indonesian (Sneddon 1996:237)</luu-source>
          <luu-line type="example" value="Mereka *di Jakarta* sekarang."></luu-line>
          <luu-line type="gloss" value="they in Jakarta now"></luu-line>
          <luu-translation>They are in Jakarta now.</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Lezgian (Haspelmath 1993:207)</luu-source>
          <luu-line type="example" value="Gila abur-u-n ferma hamišaluǧ güǧüna amuq’-da-č."></luu-line>
          <luu-line type="gloss" value="now they*-OBL-GEN farm for*ever behind stay-FUT-NEG"></luu-line>
          <luu-translation>Now their farm will not stay behind forever.</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>West Greenlandic (Fortescue 1984:127)</luu-source>
          <luu-line type="example" value="palasi=lu niuirtur=lu"></luu-line>
          <luu-line type="gloss" value="priest=and shopkeeper=and"></luu-line>
          <luu-translation>both the priest and the shopkeeper</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Hakha Lai</luu-source>
          <luu-line type="example" value="a-nii -láay"></luu-line>
          <luu-line type="gloss" value="3SG-laugh-FUT"></luu-line>
          <luu-translation>s/he will laugh</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Russian</luu-source>
          <luu-line type="example" value="My s Marko poexa-l-i avtobus-om v Peredelkino."></luu-line>
          <luu-line type="gloss" value="1PL COM Marko go-PST-PL bus-INS ALL Peredelkino"></luu-line>
          <luu-line type="gloss" value="we with Marko go-PST-PL bus-by to Peredelkino"></luu-line>
          <luu-translation>Marko and I went to Perdelkino by bus.</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Turkish</luu-source>
          <luu-line type="example" value="çık-mak"></luu-line>
          <luu-line type="gloss" value="come.out-INF"></luu-line>
          <luu-translation>to come out</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Latin</luu-source>
          <luu-line type="example" value="insul-arum"></luu-line>
          <luu-line type="gloss" value="island-GEN.PL"></luu-line>
          <luu-translation>of the islands</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>French</luu-source>
          <luu-line type="example" value="aux chevaux"></luu-line>
          <luu-line type="gloss" value="to.ART.PL horse.PL"></luu-line>
          <luu-translation>to the horses</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>German</luu-source>
          <luu-line type="example" value="unser-n Väter-n"></luu-line>
          <luu-line type="gloss" value="our-DAT.PL father.PL-DAT.PL"></luu-line>
          <luu-translation>to our fathers</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Hittite (Lehmann 1982:211)</luu-source>
          <luu-line type="example" value="n=an apedani mehuni essandu."></luu-line>
          <luu-line type="gloss" value="CONN=him that.DAT.SG time.DAT.SG eat.they.shall"></luu-line>
          <luu-translation>They shall celebrate him on that date.</luu-translation>
          <luu-explain value="CONN = connective"></luu-explain>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Jaminjung (Schultze-Berndt 2000:92)</luu-source>
          <luu-line type="example" value="nanggayan guny-bi-yarluga?"></luu-line>
          <luu-line type="gloss" value="who 2DU.A.3SG.P-FUT-poke"></luu-line>
          <luu-translation>Who do you two want to spear?</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Turkish</luu-source>
          <luu-line type="example" value="çık-mak"></luu-line>
          <luu-line type="gloss" value="come_out-INF"></luu-line>
          <luu-translation>to come out</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Latin</luu-source>
          <luu-line type="example" value="insul-arum"></luu-line>
          <luu-line type="gloss" value="island-GEN;PL"></luu-line>
          <luu-translation>of the islands</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>French</luu-source>
          <luu-line type="example" value="aux chevaux"></luu-line>
          <luu-line type="gloss" value="to;ART;PL horse;PL"></luu-line>
          <luu-translation>to the horses</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Hittite (Lehmann 1982:211)</luu-source>
          <luu-line type="example" value="n=an apedani mehuni essandu."></luu-line>
          <luu-line type="gloss" value="CONN=him that:DAT;SG time:DAT;SG eat:they:shall"></luu-line>
          <luu-translation>They shall celebrate him on that date.</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>German</luu-source>
          <luu-line type="example" value="unser-n Väter-n"></luu-line>
          <luu-line type="gloss" value="our-DAT.PL father\PL-DAT.PL"></luu-line>
          <luu-translation>to our fathers</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Irish</luu-source>
          <luu-line type="example" value="bhris-is"></luu-line>
          <luu-line type="gloss" value="PST\break-2SG"></luu-line>
          <luu-translation>you broke</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Kinyarwanda</luu-source>
          <luu-line type="example" value="mú-kòrà"></luu-line>
          <luu-line type="gloss" value="SBJV\1PL-work"></luu-line>
          <luu-translation>that we work</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Jaminjung (Schultze-Berndt 2000:92)</luu-source>
          <luu-line type="example" value="nanggayan guny-bi-yarluga?"></luu-line>
          <luu-line type="gloss" value="who 2DU>3SG-FUT-poke"></luu-line>
          <luu-translation>Who do you two want to spear?</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Italian</luu-source>
          <luu-line type="example" value="and-iamo"></luu-line>
          <luu-line type="gloss" value="go-PRS.1PL"></luu-line>
          <luu-translation>we go</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Belhare</luu-source>
          <luu-line type="example" value="ne-e a-khim-chi n-yuNNa"></luu-line>
          <luu-line type="gloss" value="DEM-LOC 1SG.POSS-house-PL 3NSG-be.NPST"></luu-line>
          <luu-line type="gloss" value="DEM-LOC 1s.POSS-house-PL 3ns-be.NPST"></luu-line>
          <luu-translation>Here are my houses.</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Latin</luu-source>
          <luu-line type="example" value="puer"></luu-line>
          <luu-line type="gloss" value="boy[NOM.SG]"></luu-line>
          <luu-translation>boy</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Latin</luu-source>
          <luu-line type="example" value="puer-Ø"></luu-line>
          <luu-line type="gloss" value="boy-NOM.SG"></luu-line>
          <luu-translation>boy</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Hunzib (van den Berg 1995:46)</luu-source>
          <luu-line type="example" value="oz#-di-g xõxe m-uq'e-r"></luu-line>
          <luu-line type="gloss" value="boy-OBL-AD tree(G4) G4-bend-PRET"></luu-line>
          <luu-translation>Because of the boy the tree bent.</luu-translation>
          <luu-explain value="G4 = 4th gender, AD = adessive, PRET = preterite"></luu-explain>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Lakhota</luu-source>
          <luu-line type="example" value="na-wíčha-wa-xʔu̧"></luu-line>
          <luu-line type="gloss" value="hear-3PL.UND-1SG.ACT-STEM"></luu-line>
          <luu-translation>I hear them</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>German</luu-source>
          <luu-line type="example" value="ge-seh-en"></luu-line>
          <luu-line type="gloss" value="PTCP-see-PTCP"></luu-line>
          <luu-translation>seen</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>German</luu-source>
          <luu-line type="example" value="ge-seh-en"></luu-line>
          <luu-line type="gloss" value="PTCP-see-CIRC"></luu-line>
          <luu-translation>seen</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Tagalog</luu-source>
          <luu-line type="example" value="b&lt;um&gt;ili"></luu-line>
          <luu-line type="gloss" value="&lt;ACTFOC&gt;buy"></luu-line>
          <luu-translation>buy</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Latin</luu-source>
          <luu-line type="example" value="reli&lt;n&gt;qu-ere"></luu-line>
          <luu-line type="gloss" value="leave&lt;PRS&gt;-INF"></luu-line>
          <luu-translation>to leave</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Hebrew</luu-source>
          <luu-line type="example" value="yerak~rak-im"></luu-line>
          <luu-line type="gloss" value="green~ATT-M.PL"></luu-line>
          <luu-translation>greenish ones</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Tagalog</luu-source>
          <luu-line type="example" value="bi~bili"></luu-line>
          <luu-line type="gloss" value="IPFV~buy"></luu-line>
          <luu-translation>is buying</luu-translation>
        </luu-view>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <luu-view>
          <luu-source>Tagalog</luu-source>
          <luu-line type="example" value="b&lt;um&gt;i~bili"></luu-line>
          <luu-line type="gloss" value="&lt;ACTFOC&gt;IPFV~buy"></luu-line>
          <luu-translation>is buying</luu-translation>
        </luu-view>
      </div>
    </div>
  </div>
</section>
